.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: #AAA;
  height: 80px;
}

.App-title {
  padding-top: 3%;
  text-align: left;
}

.App-intro {
  text-align: left;
}

.App-content {
  background-color: #FFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
