.loginForm{
float: left;

}

.FloatingMenu {
  position: fixed;
  top:0px;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.Floatingheader {
  background-color: #222;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: white;
  display:  flex;
}

.App-title {
  font-size: 1.5em;
  margin-top: 3%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
