.App {
  text-align: center;
}

.App-header {
  height: 80px;
}

.App-title {
  padding-top: 3%;
  text-align: left;
  color:#FFF;
}

.App-intro {
  text-align: left;
  color:#FFF;
}

.App-content {
  background-color: #FFF;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
}
.App-categorie {
   border: 2px solid #AAA;
   margin-right: -2px;
}
.App-categorie img {
  width: 80%;
  height : 200px;
}
.App-categorie h3 {
  color:black;
}
.App-categorie button {
  width: 80%;
}
