.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: #AAA;
  height: 80px;
}

.App-title {
  padding-top: 3%;
  text-align: left;
  color:#FFF;
}

.App-intro {
  text-align: left;
  color:#FFF;
}

.App-content {
  background-color: #FFF;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
}
.App-categorie {
   border: 2px solid #AAA;
   margin-right: -2px;
}
.App-categorie img {
  width: 80%;
  height : 200px;
}
.App-categorie button {
  width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
